@font-face {
  font-family: "Bgp-Arial";
  src: local("Bgp Arial"),
    url("./assets/fonts/bpg_arial_2009.ttf") format("truetype");
}

@font-face {
  font-family: "TBC-Contractica-Bold";
  src: local("TBC-Contractica-Bold"),
    url("./assets/fonts/TBCContractica-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "TBC-Contractica-Bold-caps";
  src: local("TBC-Contractica-Bold-caps"),
    url("./assets/fonts/TBCContracticaCAPS-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueLT-Bold";
  src: local("HelveticaNeueLTGEO"),
    url("./assets/fonts/Linotype-HelveticaNeueLTGEO75Bold.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueLT-Thin";
  src: local("HelveticaNeueLTProLt"),
    url("./assets/fonts/HelveticaNeueLTProLt.otf") format("truetype");
}


@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: 'TBC-Contractica-Bold-caps', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked + label span {  
  @apply bg-light-black;  
}

button:disabled svg path{
  stroke: #8D8D8D;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
