@font-face {
  font-family: "Bgp Arial";
  src: local("Bgp Arial"),
    url("./assets/fonts/bpg_arial_2009.ttf") format("truetype");
}

@font-face {
  font-family: "TBC-Contractica-Bold";
  src: local("TBC-Contractica-Bold"),
    url("./assets/fonts/TBCContractica-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "TBC-Contractica-Bold-caps";
  src: local("TBC-Contractica-Bold-caps"),
    url("./assets/fonts/TBCContracticaCAPS-Bold.ttf") format("truetype");
}
src/assets/fonts/
body {
  height: 100vh;
  margin: 0;
  font-family: 'TBC-Contractica-Bold-caps', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* span{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #232323;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;